html {
  background-color: rgb(30,30,30);
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-size: 120%;
}

button {
  margin: 1%;
  width: 15%;
  text-transform: uppercase;
  font-size: 110%;
  color: white;
  padding: 1%;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

button:active {
  transform: translateY(2px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

button:disabled {
  background: rgb(73, 73, 73);
}

.blueButton {
  background: #4d7ed3;
}

.redButton {
  background: #f74b45;
}

.bottomBar {
  position: fixed;
  height: 10%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: rgb(40, 40, 40);
}
