#homepage h1 {
    margin-bottom: 2%;
}
.joinInput {
    text-align: center;
    margin: 0.5%;
    width: 15%;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 100%;
}

#homepage p {
    font-size: 130%;
}

#homepage a {
    color: rgb(57, 135, 207);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13%;
}
