.history {
    font-size: 110%;
    white-space: pre-line;
}

.myCards {
    padding-top: 1%;
    margin: 0.5%;
}

.activeCard {
    display: inline-block;
    margin-right: 6vw;
}

.activeCard img {
    width: 15.5vw;
}

.permanentCard {
    display: inline-block;
    margin-left: 6vw;
}

.permanentCard img {
    width: 15.5vw;
}